<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="order_placed">
        <observer name="order_placed_send_email" instance="IrishTitan\Handshake\Listeners\SendEmail" shared="false" />
    </event>

</config>
