<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Acme_Slideshow::slideshow"
             title="Slideshows"
             module="Acme_Slideshow"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Magento_Backend::content_elements"
             action="slideshows"/>

    </menu>
</config>